@import url("https://fonts.googleapis.com/css2?family=Poppins&display=swap");

* {
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}

:root{
  --big-font: clamp(0.9rem, 0.3999999999999999rem + 1.0000000000000002vw, 1.3rem);
  --small-font: clamp(0.75rem, 0.617rem + 0.4255vw, 1rem);
}

.link {
  text-decoration: none;
  color: rgb(95, 175, 193)
}

.color-table {
  display: flex;
  flex-wrap: wrap;
  width: 100%;
  height: fit-content;
  gap: 1rem;
  justify-content: center;
  margin-block: 2rem;
}

/* Cards */

div[id^=xterm-] {
  width: clamp(10rem, 7.8723rem + 6.8085vw, 14rem);
  background-color: white;
  border-radius: .25rem;
  padding: .5rem;
  cursor: pointer;
}

div[id^=xterm-]>div:nth-child(1) {
  aspect-ratio: 3/2;
  width: 100%;
  border-radius: .25rem;
  box-shadow: rgba(0, 0, 0, 0.07) 0px 1px 2px, rgba(0, 0, 0, 0.07) 0px 2px 4px, rgba(0, 0, 0, 0.07) 0px 4px 8px, rgba(0, 0, 0, 0.07) 0px 8px 16px, rgba(0, 0, 0, 0.07) 0px 16px 32px, rgba(0, 0, 0, 0.07) 0px 32px 64px;
}
div[id^=xterm-]>div:nth-child(2) {
  width: 100%;
  height: fit-content;
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: .5rem;
  margin-top: .5rem;
  text-align: center;
}
div[id^=xterm-]>input {
  display: none;
}

/* ----- */

.page {
  background-color: rgb(165, 178, 175);
}

button {
  background-color: transparent;
  border: none;
  width: 100%;
  font-size: var(--small-font);
}

button:hover {
  cursor: pointer;
}

.header {
  position: relative;
}

.header h3 {
  text-align: center;
  font-size: clamp(1.15rem, 0.8537rem + 1.3171vw, 2.5rem);
}

#callouts {
  display: flex;
  justify-content: center;
  gap: 2rem;
}
#callouts div {
  background-color: white;
  width: fit-content;
  padding-inline: 1rem;
  border-radius: 0.5rem;
  display: flex;
  gap: 1rem;
  margin-bottom: 1.25rem;
}

#callouts div p {
  font-size: clamp(0.75rem, 0.6402rem + 0.4878vw, 1.25rem);
  text-align: center;
}

#callouts div svg {
  width: 1.75rem;
  fill: rgb(106, 215, 239);
}

#modals {
  position: absolute;
  width: 0;
  height: 0;
}

#color-search {
  position: sticky;
  display: none;
  align-items: center;
  gap: 1rem;
  
  left: 50%;
  transform: translateX(-50%);
  bottom: 80%;

  width: clamp(30rem, 22.857rem + 19.048vw, 40rem);
  height: fit-content;

  padding: 1rem;

  border: none;
  border-radius: 0.5rem;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}

#color-search[open] {
  display: flex;
}

#color-search button {
  width: fit-content;
  height: fit-content;
}

#color-search svg {
  aspect-ratio: 1;
  width: 1.25rem;
}

#color-search input {
  width: 100%;
  font-size: 1rem;
  padding: .5rem;
}

#color-info-box {
  width: clamp(30rem, 22.857rem + 19.048vw, 40rem);
  height: fit-content;
  margin: auto;
  padding: 1rem;

  border: none;
  border-radius: 0.5rem;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}

#color-name {
  font-size: 1;
  font-size: var(--big-font);
  width: fit-content
}

#color-id {
  font-size: 1;
  font-size: var(--big-font);
  width: fit-content
}

#color-sample {
  aspect-ratio: 2/1;
  width: 100%;
  border-radius: 0.5rem;
  box-shadow: rgba(0, 0, 0, 0.07) 0px 1px 2px, rgba(0, 0, 0, 0.07) 0px 2px 4px, rgba(0, 0, 0, 0.07) 0px 4px 8px, rgba(0, 0, 0, 0.07) 0px 8px 16px, rgba(0, 0, 0, 0.07) 0px 16px 32px, rgba(0, 0, 0, 0.07) 0px 32px 64px;
  /* box-shadow: rgba(0, 0, 0, 0.16) 0px 3px 6px, rgba(0, 0, 0, 0.23) 0px 3px 6px; */
  /* box-shadow: rgba(50, 50, 93, 0.25) 0px 13px 27px -5px, rgba(0, 0, 0, 0.3) 0px 8px 16px -8px; */
}

#color-label {
  display: flex;
  width: 100%;
  justify-content: center;
  gap: 1rem;
  margin-top: 1.25rem;
  font-size: 1;
  font-size: var(--big-font);
}

#color-label > span:nth-child(2) {
  display: flex;
  gap: 0.25rem;
}

#color-info-box-close {
  display: flex;
  justify-content: end;
  width: 100%;
  height: fit-content;
  margin-left: auto;
  margin-bottom: 0.5rem;
}

#color-info-box-close {
  outline: None;
  border: None;
}

#color-info-box-close > svg {
  aspect-ratio: 1;
  width: 1.75rem;
  color: red;
}

#color-codes {
  display: grid;
  grid-template-rows: repeat(3, 1fr);
  gap: 0.5rem;
  font-size: 1;
  font-size: var(--big-font);
  margin-block: 3rem;
  margin-inline: auto;
  width: 60%;
}

#color-codes > div > strong {
  width: 2rem;
}

#color-codes > div > button {
  text-align: right;
}

#color-codes > div {
  display: flex;
  gap: 3rem;
}

#color-codes button {
  font-size: 1;
  font-size: var(--big-font);
}

dialog::backdrop {
  background: rgba(0, 0, 0, 0.5);
}
